body {
  font: 100% Verdana, sans-serif;
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.navbar-light {
  margin: 0px auto;
  padding: 0px 0px;
  font: 100% Verdana, sans-serif;
  font-size: auto;
  color: #9b2065;
  background-color: #ffffff; }

#donateButton {
  background-color: #9b2065;
  font: 100% Verdana, sans-serif;
  font-size: auto;
  color: #ffffff; }

.footer {
  background-color: #9b2065;
  font: 100% Verdana, sans-serif;
  font-size: auto;
  color: #ffffff;
  margin: 0px auto;
  padding: 10px 0px; }
  .footer h4 {
    color: #ffffff; }
  .footer .imgFooter {
    background-color: #ffffff;
    margin: 0px auto;
    padding: 5px 5px;
    border-radius: 10px; }
  .footer .btn-social-icon {
    margin: 15px; }
  .footer a {
    color: #ffffff; }

#whatIs #mission {
  margin: 0px auto;
  padding: 20px 0px; }

.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px solid #ddd;
  min-height: 250px; }

.jumbotron {
  margin: 0px auto;
  padding: 0px 0px;
  background-color: #ffffff;
  color: #000000; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

h1, h2 {
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  color: #9b2065;
  margin: 0px auto;
  padding: 10px 0px; }

#cardAbout {
  background-color: #ffffff;
  margin: 10px; }
  #cardAbout h5 {
    background-color: #ffffff;
    color: #209D2D; }
  #cardAbout p {
    color: #209D2D; }

#cardCharitable {
  background-color: #ffffff;
  margin: 10px; }
  #cardCharitable h5 {
    background-color: #ffffff;
    color: #20289D; }
  #cardCharitable p {
    color: #20289D; }

#cardScientific {
  background-color: #ffffff;
  margin: 10px; }
  #cardScientific h5 {
    background-color: #ffffff;
    color: #20679D; }
  #cardScientific p {
    color: #20679D; }

#cardFund {
  background-color: #ffffff;
  margin: 10px; }
  #cardFund h5 {
    background-color: #ffffff;
    color: #9b2065; }
  #cardFund p {
    color: #9b2065; }

.carousel {
  background: #ffffff; }
  .carousel .carousel-item {
    height: 400px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px; }

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1500; }

.carousel-item #educationCaption mark {
  color: #ffffff;
  background-color: #20679D; }

.carousel-item #charitableCaption h3 {
  color: #20289D; }

.carousel-item #charitableCaption p {
  color: #20679D; }

.carousel-item #scienceCaption mark {
  color: #ffffff;
  background-color: #20679D; }

.carousel-item #fundCaption h3, .carousel-item #fundCaption p {
  color: #20289D; }

.blue {
  color: #20289D; }

.purple {
  color: #9b2065; }

.green {
  color: #209D2D; }

.light {
  color: #20679D; }

.modal-header {
  background-color: #9b2065; }
  .modal-header .modal-title {
    color: white; }
  .modal-header .close {
    color: white; }
